*.iml
*.log
*.DS_Store
*.tmp
*.swp
*.apk
*.jks
*.keystore
*.hprof
*.ap_
*.dex
*.class
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.ipr
*.iws
.classpath
.project
.externalNativeBuild
.cproject
output.json
google-services.json
hs_err_pid*
replay_pid*
_sandbox
gen-external-apklibs
app/src/main/res/values/secrets.xml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
app/src/main/assets/secrets.properties
crashlytics.properties
crashlytics-build.properties
fabric.properties
local.properties
env.xml
!.idea/copyright
!/.idea/codeStyles
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
!/gradle/wrapper/gradle-wrapper.jar
.idea/
.gradle/
.externalNativeBuild/
.cxx/
.gradle
.signing/
.navigation/
.mtj.tmp/
.settings/
.idea_modules/
build/
captures/
bin/
gen/
out/
production/
proguard/
obj/